# Ignore Gradle project-specific cache directory
.gradle

lib/target
target
.bloop
.metals

# Ignore Gradle build output directory
build

.idea

lib/bin
.vscode
project

.continue/
docs/papers

.todo

# Ignore files from the Maude project that are copied during the build
lib/src/main/resources/maude/linoleum/